/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blockparty-anchor {
	display: block;
	text-align: center;
	white-space: nowrap;

	&::before {
		border-top: 3px dashed #ccc;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
	}

	.rich-text {
		background: #fff;
		color: #757575;
		display: inline-flex;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		font-size: 13px;
		font-weight: 600;
		padding: 10px 36px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
